body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-image: url(./coffe/smoothies.png);
  background-size: 100%;
  z-index: 0;

  color: white;
  background-repeat: repeat;
  position: relative;
}

.header {
  height: 50px;
}
.button-Coffee {
  background-color: rgb(88, 33, 11);
  border: none;
  color: white;
  border-radius: 3px;
  padding-left: 5;
  padding-right: 5;
  padding-top: 5;
  padding-bottom: 5;
  margin-bottom: 5;
}
.button-shop {
  background-color: rgb(88, 33, 11);
  border: none;
  color: white;
  border-radius: 3px;
  padding-left: 5;
  padding-right: 5;
  padding-top: 5;
  padding-bottom: 5;
  margin-bottom: 5;
}
.button-Product {
  background-color: rgb(88, 33, 11);
  border: none;
  color: white;
  border-radius: 3px;
  padding-left: 5;
  padding-right: 5;
  padding-top: 5;
  padding-bottom: 5;
}
.div-coffee {
  height: 500px;
  width: 940px;
  background-color: rgba(109, 40, 40, 0.459);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  color: black;
}
.coffee {
  height: 24px;
  width: 24px;
  display: flex;
  justify-self: center;
}
.coffee-month {
  width: 210px;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 3px;
  justify-self: start;
  align-self: center;
  position: absolute;
  left: 15px;
}
.n01 {
  width: 210px;
  height: 293px;
  background-color: rgba(219, 218, 130, 0.904);
  border-radius: 7px;
  color: black;
}
.n02 {
  width: 210px;
  height: 147px;
  background-color: rgb(137, 202, 180);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.n03 {
  width: 210px;
  height: 147px;
  background-color: rgb(102, 50, 29);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 210px;
  justify-content: center;
  align-items: center;
  color: black;
}
.n05 {
  width: 198px;
  height: 135px;
  margin: 6px 6px;
  background-color: rgb(219, 218, 130);

  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.n06 {
  background-color: rgb(102, 50, 29);
  border-radius: 3px;
  width: 196px;
  height: 133px;
  margin: 1px 1px;
  display: grid;
  grid-template-columns: 100px;
  justify-content: center;
  align-content: center;
}
.n07 {
  height: 38px;
  width: 38px;
  border-radius: 19px;
  border: 1px solid black;
  background-color: rgb(102, 50, 29);
  display: grid;
  grid-template-columns: 34px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 2px auto;
}
.p07 {
  display: grid;
  grid-template-columns: 100px;
  font-size: 15px;
  font-weight: bold;
  line-height: 0.9;
  width: 20px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
}
.n08 {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  border: 1px solid black;
  background-color: rgb(102, 50, 29);
  display: grid;
  grid-template-columns: 30px;
  justify-content: center;
  align-items: center;
}
.p08 {
  margin: 5px auto;
  grid-template-columns: 28px;
  justify-content: center;
  align-items: center;
}

.n04 {
  width: 210px;
  height: 147px;
  background-color: rgb(137, 202, 180);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 210px;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 2;
}
.n04 p {
  display: grid;
  grid-template-columns: 210px;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}
.price {
  color: grey;
  font-size: 30px;
}
.p-04 {
  font-size: 26px;
  font-weight: bold;
}
.n02 {
  font-size: 20px;
  font-weight: bold;
}
.n02 p {
  display: block;
}

.djimmah {
  width: 210px;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 3px;
  justify-self: start;
  align-self: center;
  position: absolute;
  left: 245px;
}
.djimmah-1 {
  margin: 0px auto;
  width: 100px;
  height: 147px;

  background-color: rgb(175, 16, 16);
  border-radius: 5px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  display: grid;
  grid-template-columns: 210px;
  justify-content: center;
  align-items: center;
  color: black;
}

.djimmah-1 .n07 {
  height: 38px;
  width: 38px;
  border-radius: 19px;
  border: 1px solid black;
  background-color: rgb(231, 223, 223);
  display: grid;
  grid-template-columns: 34px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 2px auto;
}
.djimmah-1 .n08 {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  border: 1px solid black;
  background-color: rgb(175, 16, 16);
  display: grid;
  grid-template-columns: 30px;
  justify-content: center;
  align-items: center;
  margin: 1px auto;
}

.flavour {
  text-align: center;
  width: 100px;
  margin: 5px auto;
}
.quikadd,
.subscribe {
  margin: 3px;
}

.peaberry {
  width: 210px;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 3px;
  justify-self: start;
  align-self: center;
  position: absolute;
  left: 475px;
}

.strawberry {
  width: 210px;
  height: 440px;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 3px;
  justify-self: start;
  align-self: center;
  position: absolute;
  left: 705px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  color: white;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
img {
  height: 1600;
  width: 2000;
  object-fit: cover;
}
.socialmedia {
  display: flex;
  justify-content: space-between;
  width: 100;
}
.signup {
  padding: 10px;
  margin: 10px;
  height: 200px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgb(102, 50, 29);
  border-radius: 3px;
  opacity: 0.95;
  z-index: 0.5;
  color: black;
}
.sign-add {
  width: 450px;
}
.facebook,
.instagram,
.gmail {
  height: 20px;

  width: 20px;
}
